# Definir a codificação dos arquivos de texto
*.cpp text
*.h text
*.c text
*.txt text
*.md text
*.rst text
*.cmake text

# Binários (garante que não sejam tratados como texto)
*.a binary
*.o binary
*.so binary
*.dll binary
*.exe binary
*.dylib binary
*.zip binary
*.tar binary
*.gz binary
*.7z binary
*.jpg binary
*.png binary
*.gif binary
*.pdf binary

# Garantir que os arquivos de configuração não tenham finalizadores de linha modificados
*.sh text eol=lf
*.bash text eol=lf
*.zsh text eol=lf
*.env text eol=lf

# Arquivos CMake
CMakeLists.txt text
*.cmake text

# Ignorar mudanças de final de linha em arquivos específicos (útil para arquivos binários e de configuração de IDE)
.vscode/* binary
.idea/* binary
*.sublime-workspace binary
*.sublime-project binary